<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dina kommentarer</title>
</head>
<%- include("partial/header.ejs") %>
<body>
    <form action="/createtodo" method="post">
        <input type="text" name="item" placeholder="What are you doing today">
               <button type="submit">Comment</button>
   </form>
   
               <% newTodo.forEach( (todo)  => { %>
       <div class="todos"><li><%= todo.item %></li>

        <a href="/update/<%=todo._id%>">Update</a>
   <a href="/delete/<%=todo._id%>">Delete</a>
        <% }); %>
    </div>

<%- include("partial/footer.ejs") %>